<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white dark:bg-gray-800 px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 dark:text-white text-3xl text-center">Login</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
                <%= f.error_explanation %>
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'block border border-grey-light w-full p-3 rounded mb-4', placeholder: 'Email' %>
                <%= f.password_field :password, autocomplete: 'new-password', class: 'block border border-grey-light w-full p-3 rounded mb-4', placeholder: 'Password' %>
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                      <%= f.check_box :remember_me, class: 'h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded' %>
                      <%= f.label :remember_me, class: 'ml-2 block text-sm text-gray-900 dark:text-white' %>
                    </div>
                    <div class="text-sm">
                        <%= link_to 'Forgot password?', '#', class: 'font-medium text-indigo-600 hover:text-indigo-500' %>
                    </div>
                </div>
                <%= f.submit 'Login', class: 'w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none my-1' %>
            <% end %>
        </div>

        <div class="mb-3 text-grey-dark dark:text-white">
            Sign in with
        </div>
        <div class="justify-between">
            <%= link_to tag.i('', class: 'fab fa-discord fa-2x'), user_discord_omniauth_authorize_path %>
        </div>
    </div>
  </div>
</div>
